<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/administration.css">
    <%- include("./partials/header.ejs") %>

        <main>
            <h3>Administrer Hendelsene</h3>


            <% Issues.forEach(issue => {%>
            <section>
                <h4><%= issue.title  %></h4>
                <p><%= issue.description %></p>
                <form class="form criticalLevel">
                    <label for="criticalLevel">Kritisk Nivå:</label>
                    <select name="criticalLevel" id="criticalLevel">
                        <option value="" disabled>Nå: <%= issue.criticality%></option>
                        <option value="Høy">Høy</option>
                        <option value="Middels">Middels</option>
                        <option value="Lav">Lav</option>
                    </select>
                    <input type="hidden" name="issueId" id="issueId" value="<%= issue._id  %>">
                    <button type="submit">Oppdater</button>
                </form>
                <form class="form Status">
                    <label for="status">Status: </label>
                    <select name="status" id="status">
                        <option disabled>Nå: <%= issue.status  %></option>
                        <option value="Åpen" >Åpen</option>
                        <option value="Lukket">Lukket</option>
                    </select>
                    <input type="hidden" name="issueId" id="issueId" value="<%= issue._id  %>">
                    <button type="submit">Oppdater</button>
                </form>
            </section>
            <% }); %>


        </main>


        </body>

        </html>